# Any private crt and keys #
############################
*.crt
*.key
*~
\#*
.env

# OS Specific #
###############
Thumbs.db
.DS_Store
*.code-workspace

# Logs #
########
*.log

*/node_modules
.markdownlint.json
resources/*

# Local Netlify folder
.netlify

.hugo_build.lock
public/*
exampleSite/public
exampleSite/hugo

# Python
.venv

# Playwright
/coverage
*/test-results
*/playwright-report
*.bkp

# Biome
biome.rb

# Local Lighthouse artifacts
*/lighthouse-reports
