{{ define "main" }}
<div id="main-content" class="row override-sidebar-collapse">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top">
    {{ partial "sidebar.html" . }}
  </nav>
  
  {{if (.Params.catalog) }}
  <main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col d-block align-top content-has-toc" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}
    
    <h1>{{ .Title }}</h1>

      {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}

      {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}
  
    {{ .Content }}
    {{ partial "version-list" . }}
  <hr>

  {{ if .Page.Lastmod }}
  <div class="last-modified">
    Last modified {{ .Page.Lastmod.Format "January 2, 2006" }}
  </div>
  {{ end }}

    {{ partial "previous-next-links-in-section-with-title.html" . }}
  </main>
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
    {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
      <div class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top">
      {{ partial "toc.html" . }}
      </div>
    {{ end }}
  {{ end }}
</div>


<div id="main-content-v2" class="row override-sidebar-collapse" style="display: none;">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top">
    {{ partial "sidebar-v2.html" . }}
  </nav>
  
  {{if (.Params.catalog) }}
  <main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col d-block align-top content-has-toc" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}
    
    <h1>{{ .Title }}</h1>

      {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}

      {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}
  
    {{ .Content }}
    {{ partial "version-list" . }}
  <hr>

  {{ if .Page.Lastmod }}
  <div class="last-modified">
    Last modified {{ .Page.Lastmod.Format "January 2, 2006" }}
  </div>
  {{ end }}

    {{ partial "previous-next-links-in-section-with-title.html" . }}
  </main>
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
    {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
      <div class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top">
      {{ partial "toc.html" . }}
      </div>
    {{ end }}
  {{ end }}
</div>


<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
