{{ define "main" }}
<div class="docs-container row override-sidebar-collapse">
<div class="docs-container row override-sidebar-collapse">
  <nav id="sidebar" data-mf="false" class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top">
    {{ partial "sidebar.html" . }}
  </nav>

  <!-- Replace icons -->
  {{ $content := partial "icon-replacement.html" (dict "content" .Content) }}

  {{if (.Params.catalog) }}
  <main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col d-block align-top content-has-toc" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}

  <section class="main-layout">
    <div class="sidebar-layout" id="sidebar-layout">
      <button class="sidebar__mobile__toggle" aria-expanded="false" data-mf="true">{{ partial "lucide" (dict "context" . "icon" "x")}}Close</button>
      <nav data-mf="true" id="sidebar-v2" class="sidebar">
        {{ partial "sidebar-v2.html" . }}
      </nav>
    </div>

    <section id="maincontent" class="content-layout">
      <div data-cms-edit="content" class="text-content">
        <section class="breadcrumb-layout wide" data-mf="true" style="display: none;">
          {{ if not .IsHome }}
            {{ if not (in .Params.display_breadcrumb "false" ) }}
            {{ partial "breadcrumb" .}}
            {{ end }}
          {{ end }}
        </section>
        <h1>{{ .Title }}</h1>
        {{ $content | safeHTML }}
        {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
        {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

        <hr>

        {{ if .Page.Lastmod }}
        <div class="last-modified">
          {{ partial "page-meta-links" . }}
        </div>
        {{ end }}

        {{ partial "version-list" . }}
        {{ partial "qualtrics-feedback.html" }}

        {{ partial "previous-next-links-in-section-with-title.html" . }}
        </main>
        {{ if and (gt .WordCount 200 ) (.Params.toc) }}
          {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
            <div id="toc" data-mf="false" class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top">
            {{ partial "toc.html" . }}
            </div>
          {{ end }}
        {{ end }}

      </div>
    </section>
  </section>
</div>
<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
