{{ define "main" }}
<div class="docs-container row override-sidebar-collapse">
<div class="docs-container row override-sidebar-collapse">
  <nav id="sidebar" class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top">
    {{ partial "sidebar.html" . }}
  </nav>

  
  {{if (.Params.catalog) }}
  <main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col d-block align-top content-has-toc" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}
    
  <section class="main-layout">
    <div class="sidebar-layout">
      <nav data-mf="true" id="sidebar-v2" class="sidebar" style="display:none;">
        {{ partial "sidebar-v2.html" . }}
      </nav>
    </div>

    <section class="content-layout">
      <div class="text-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
        {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

        <hr>
  
        {{ if .Page.Lastmod }}
        <div class="last-modified">
          Last modified {{ .Page.Lastmod.Format "January 2, 2006" }}
        </div>
        {{ end }}

        {{ partial "version-list" . }}
        {{ partial "qualtrics-feedback.html" }}

        {{ partial "previous-next-links-in-section-with-title.html" . }}
      </div>
    </section>     
  </section>
  </main>   
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
  {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
    <div id="toc" class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top">
    {{ partial "toc.html" . }}
    </div>
  {{ end }}
{{ end }}

</div>
<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
