{{ define "main" }}
<div class="row flex-xl-nowrap" id="list-v1">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none">
    {{ partial "sidebar.html" . }}
  </nav>
  <main class="content col-xl-9 d-block" role="main">
    {{ partial "list-main" . }} 
  </main>
</div>

{{/*  mf list page  */}}

<main class="content col d-block align-top content-has-toc" role="main" data-mf="true" style="display: none">
<section class="main-layout">
  <div class="sidebar-layout" id="sidebar-layout">
    <button class="sidebar__mobile__toggle" aria-expanded="false" data-mf="true">{{ partial "lucide" (dict "context" . "icon" "x")}}Close</button>
    <nav data-mf="true" id="sidebar-v2" class="sidebar" style="display:none;">
      {{ partial "sidebar-v2.html" . }}
    </nav>
  </div>

  <section id="maincontent" class="content-layout" data-mf="true" style="display: none">
    <div data-cms-edit="content" class="text-content list-page">
      <section class="breadcrumb-layout wide">
        {{ if not .IsHome }}
          {{ if not (in .Params.display_breadcrumb "false" ) }}
          {{ partial "breadcrumb" .}}
          {{ end }}
        {{ end }}
      </section>
      <h1>{{ .Title }}</h1>
      {{ .Content }}

      {{- with .Params.banner -}}
        {{- if .enabled -}}
          <div class="banner banner-{{ .type }}">
            Some banner
          </div>
        {{- end -}}
      {{- end -}}

      {{ if  (lt .WordCount 1)  }}
      {{ range .Pages.ByWeight }}
      <h2>
          <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
      </h2>
      {{ end }}
      {{end}}

      <hr>
      {{ if .Page.Lastmod }}
      <div class="last-modified">
        {{ partial "page-meta-links" . }}
      </div>
      {{ end }}

      </main>

    </div>
  </section>
</section>



</section>
</main>
{{ end }}

