{{ define "main" }}

<main class="content" role="main">
    <div data-cms-edit="content" class="text-content list-page">
        <div class="breadcrumb-layout">
        {{ if not .IsHome }}
            {{ if not (in .Params.display_breadcrumb "false" ) }}
            {{ partial "breadcrumb" .}}
            {{ end }}
        {{ end }}
        </div>
        <div class="list-header-container">
          <img src="/images/icons/{{ .Params.logo | default "NGINX-product-icon.svg" }}">
          <div class="list-header-title">
            <h1>{{ .Title }}</h1>
            {{ if index .Params "nd-subtitle" }}
              <p>{{ index .Params "nd-subtitle" | markdownify }}</p>
            {{ end }}
          </div>
        </div>

        {{ partial "banner" . }}

        {{ $hasCustomContent := index .Params "nd-landing-page" | default false }}
        {{ if $hasCustomContent }}
        {{ .Content }}

        <!-- Default index page content -->
        {{ else }}

    <h2> In this section </h2>
    <div class="card-section">
        <div class="card-section-content card-grid">
        {{ range .Pages.ByWeight }}
            <a href="{{ .Permalink }}" alt="{{ .Title }}" class="card" data-grid="first-two-thirds">
            <div class="card-container">
                <div class="card-header">
                    <h2 class="card-title">{{ .Title }}</h2>
                </div>
                <div class="card-content">{{ .Description }}</div>
            </div>
            </a>
        {{ end }}
        </div>
    </div>

        {{ end }}

        <hr>
        {{ if .Page.Lastmod }}
        <div class="last-modified">
        {{ partial "page-meta-links" . }}
        </div>
        {{ end }}

    </div>

</main>


{{ end }}
