{{ define "main" }}

<main class="content " role="main">
    <div data-cms-edit="content" class="text-content list-page">
        <div class="breadcrumb-layout wide">
        {{ if not .IsHome }}
            {{ if not (in .Params.display_breadcrumb "false" ) }}
            {{ partial "breadcrumb" .}}
            {{ end }}
        {{ end }}
        </div>
        <div class="list-header-container">
          <img src="/images/icons/{{ .Params.logo | default "NGINX-product-icon.svg" }}">
          <div class="list-header-title">
            <h1>{{ .Title }}</h1>
            {{ if index .Params "nd-subtitle" }}
              <p>{{ index .Params "nd-subtitle" | markdownify }}</p>
            {{ end }}
          </div>
        </div>

        {{ partial "banner" . }}

        {{ $hasCustomContent := index .Params "nd-landing-page" | default false }}
        {{ if $hasCustomContent }}
        {{ .Content }}
        {{ else }}
        {{ range .Pages.ByWeight }}
        <h2>
            <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
        </h2>
        {{ end }}
        {{ end }}

        <hr>
        {{ if .Page.Lastmod }}
        <div class="last-modified">
        {{ partial "page-meta-links" . }}
        </div>
        {{ end }}

    </div>

</main>


{{ end }}
