{{ define "main" }}
<main class="content" data-testid="content">
    <!-- Replace icons -->
    {{ $content := partial "icon-replacement.html" (dict "content" .Content) }}

    <div class="breadcrumb-layout">
        {{ if not .IsHome }}
        {{ if not (in .Params.display_breadcrumb "false" ) }}
        {{ partial "breadcrumb" .}}
        {{ end }}
        {{ end }}
    </div>
    <article data-cms-edit="content" >
        {{ partial "banner" .}}

        <h1>{{ .Title }}</h1>
        <div class="content__reading-time">
        {{ if index .Params "nd-reading-time" }}
            {{ printf "~%d min read" .ReadingTime }}
        {{ end }}
        </div>

        {{ $content | safeHTML }}

        {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
        {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

        {{ with (index .Page.Params "nd-api-reference") }}
        <div class="content__redocly" data-grid="breakout">
            {{ partial "openapi.html" . }}
        </div>
        {{ end }}

        {{ if .Page.Lastmod }}
        <div class="last-modified">
            {{ partial "page-meta-links" . }}
        </div>
        {{ end }}

        {{ partial "version-list" . }}
        {{ $qualtricsEnabled := partial "get-feature-flags.html" (dict "featureName" "disable_qualtrics" "Site" .Site) }}
        {{ if $qualtricsEnabled }} 
          {{ partial "qualtrics-feedback.html" }}
        {{ end }}
    </article>
</main>





<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
    {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
{{end }}



{{ end }}
