/* Background */ .chroma { color: #f8f8f2; background-color: #070807 }
/* Other */ .chroma .x { color: #ffe696 }
/* Error */ .chroma .err { color: #F96C6C; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #7a7a55 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #F0FFFF }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* Name */ .chroma .n { color: #ffe696 }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameBuiltin */ .chroma .nb { color: #a6e22e }
/* NameBuiltinPseudo */ .chroma .bp { color: #ffe696 }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni { color: #ffe696 }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameFunctionMagic */ .chroma .fm { color: #ffe696 }
/* NameLabel */ .chroma .nl { color: #ffe696 }
/* NameNamespace */ .chroma .nn { color: #ffe696 }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameProperty */ .chroma .py { color: #ffe696 }
/* NameTag */ .chroma .nt { color: #e0b8ff }
/* NameVariable */ .chroma .nv { color: #719e16  }
/* NameVariableClass */ .chroma .vc { color: #ffe696 }
/* NameVariableGlobal */ .chroma .vg { color: #ffe696 }
/* NameVariableInstance */ .chroma .vi { color: #ffe696 }
/* NameVariableMagic */ .chroma .vm { color: #ffe696 }
/* Literal */ .chroma .l { color: #81ffc8 }
/* LiteralDate */ .chroma .ld { color: #ffe696 }
/* LiteralString */ .chroma .s { color: #ffe696 }
/* LiteralStringAffix */ .chroma .sa { color: #ffe696 }
/* LiteralStringBacktick */ .chroma .sb { color: #ffe696 }
/* LiteralStringChar */ .chroma .sc { color: #ffe696 }
/* LiteralStringDelimiter */ .chroma .dl { color: #ffe696 }
/* LiteralStringDoc */ .chroma .sd { color: #ffe696 }
/* LiteralStringDouble */ .chroma .s2 { color: #ffe696 }
/* LiteralStringEscape */ .chroma .se { color: #81ffc8 }
/* LiteralStringHeredoc */ .chroma .sh { color: #ffe696 }
/* LiteralStringInterpol */ .chroma .si { color: #ffe696 }
/* LiteralStringOther */ .chroma .sx { color: #ffe696 }
/* LiteralStringRegex */ .chroma .sr { color: #ffe696 }
/* LiteralStringSingle */ .chroma .s1 { color: #ffe696 }
/* LiteralStringSymbol */ .chroma .ss { color: #ffe696 }
/* LiteralNumber */ .chroma .m { color: #2fd78e }
/* LiteralNumberBin */ .chroma .mb { color: #81ffc8 }
/* LiteralNumberFloat */ .chroma .mf { color: #81ffc8 }
/* LiteralNumberHex */ .chroma .mh { color: #81ffc8 }
/* LiteralNumberInteger */ .chroma .mi { color: #81ffc8 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #81ffc8 }
/* LiteralNumberOct */ .chroma .mo { color: #81ffc8 }
/* Operator */ .chroma .o { color: #F0FFFF }
/* OperatorWord */ .chroma .ow { color: #F0FFFF }
/* Punctuation */ .chroma .p { color: #8cf09d }
/* Comment */ .chroma .c { color: #15d434 }
/* CommentHashbang */ .chroma .ch { color: #54f36e }
/* CommentMultiline */ .chroma .cm { color: #54f36e }
/* CommentSingle */ .chroma .c1 { color: #54f36e }
/* CommentSpecial */ .chroma .cs { color: #54f36e }
/* CommentPreproc */ .chroma .cp { color: #54f36e }
/* CommentPreprocFile */ .chroma .cpf { color: #54f36e }
/* Generic */ .chroma .g { color: #ffe696 }
/* GenericDeleted */ .chroma .gd { color: #F0FFFF }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr  { color: #ffe696  }
/* GenericHeading */ .chroma .gh { color: #ffe696 }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go { color: #ffe696 }
/* GenericPrompt */ .chroma .gp { color: #ffe696 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #54f36e }
/* GenericTraceback */ .chroma .gt { color: #ffe696 }
/* GenericUnderline */ .chroma .gl { color: #ffe696 }
/* TextWhitespace */ .chroma .w { color: #ffe696 }
