/*
 * These styles were previously defined inline in the theme as hacks. They
 * live here so we know where they came from.
 *
 * Where necessary, new classes were defined in their place so they don't 
 * interfere with the new theme CSS. (e.g. .override-sidebar-collapse)
 **/

.override-table {
    width: 100%;
    overflow-x: scroll;
    display: block;
}

.override-sidebar-collapse {
    max-width: calc(100% + 30px) !important;
    flex-wrap: nowrap;
}

#api-component {
    max-width: 100%;
}

#consent_blackbar {
    position: fixed;
    top: 0px;
    width: 100%;
}

#navbar-sites-button {
    display: flex;
    gap: 8px;
    align-items: center;
}

#navbarNavScroll {
    position: relative;
    left: -0px;
    flex: 1;
}

.sidenav {
    width: 25%;
}