details summary {
  color: oklch(var(--color-brand));
  transition: text-decoration-color 0.15s ease-in-out;
  text-decoration: underline;
  text-decoration-color: oklch(var(--color-brand) / 0.3);

  & ~ * {
    margin-top: 1rem;
  }
}

details summary:hover {
  text-decoration-color: oklch(var(--color-brand) / 0.8);
  cursor: pointer;
}
