.header {
  grid-area: header;
  display: flex;
  padding: 0 var(--space-s);
  border-bottom: 1px solid oklch(var(--color-divider));

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 1;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .header__img {
      height: 2rem;
      padding-left: 12px;
    }

    .header__search {
      display: block;
      width: 14rem;
      /* This is a horrible hack to stop coveo overflowing 3500px for no reason. :sad */
      transform: translateY(0);
      overflow: hidden;
    }

    .header__product-selector {
      width: 10rem;
      background: rgba(0, 0, 0, 0);
      color: oklch(var(--color-foreground));
      text-decoration-color: oklch(var(--color-brand) / 0.3);
      & :hover {
        color: oklch(var(--color-brand));
      }

      .product-selector__button {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0);
        border: none;
        width: 16rem;
        font-weight: 500;
        cursor: pointer;
        color: oklch(var(--color-foreground));
        text-decoration-color: oklch(var(--color-brand) / 0.3);
        transition: color 0.15s ease-in-out;

        & :hover {
          color: oklch(var(--color-brand));
        }
      }
    }

    > ul {
      padding: 0;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: oklch(var(--color-background));
    border: oklch(var(--color-foreground)) 1px solid;
    box-shadow: 3px 3px 0px oklch(var(--color-shadow));
    z-index: 1;
    right: 0;
    display: none;
    width: 400px;
    max-width: 80vw;
    margin-right: 1rem;
  }

  .dropdown-content ul {
    padding: 20px 10px;
  }

  .nav-item-explore {
    margin: 0;
  }

  .navbar-button {
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
}
