/* MARK: Tables
*/
table {
  position: relative;
  z-index: 0;

  td {
    padding: var(--table-row-space-between) 0;
  }

  th {
    font-weight: bold;
    text-align: start;
    vertical-align: top;
    padding-bottom: var(--table-header-bottom-spacing);
  }

  tr {
    position: relative;
  }

  tr::after {
    content: "";
    position: absolute;
    border-bottom: var(--table-line-height) solid oklch(var(--color-divider));
    bottom: 0;
    left: calc(-1 * var(--overflow-gutter-extension));
    width: calc(100% + (2 * var(--overflow-gutter-extension)));
  }
}

.md-table-scroll-x {
  overflow-x: auto;
  width: 100%;
}

.narrow table {
  min-width: 100%;
  margin: var(--table-top-bottom-spacing) 0;
  border-collapse: collapse;
}

.wide table {
  margin: var(--table-top-bottom-spacing) 0;
  border-collapse: collapse;
}

.narrow table th,
.narrow table td {
  padding-left: var(--table-min-column-spacing-narrow);
}

.wide table th,
.wide table td {
  padding-left: var(--table-min-column-spacing-wide);
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

table hr {
  color: oklch(var(--color-divider));
  border: none;
  border-bottom: var(--table-line-height) solid oklch(var(--color-divider));
}
