/*copy from nginx-theme.css */

big,
html,
small {
    font-family: inherit
}
body {
    vertical-align: baseline;
    background: #32302f
}
a,
abbr,
acronym,
applet,
del,
div,
dl,
fieldset,
font,
form,
iframe,
ins,
label,
legend,
li,
object,
q,
s,
samp,
span,
strike,
tbody,
tfoot,
thead,
tr {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    vertical-align: baseline
}
address,
blockquote,
dd,
ol,
p,
table,
ul {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0
}
cite,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
    border: 0;
    outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6,
pre {
    font-style: inherit
}
cite,
dfn,
em {
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0
}
big,
body,
caption,
code,
dt,
html,
kbd,
small,
strong,
sub,
sup,
td,
th,
tt,
var {
    border: 0;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0
}
big,
code,
html,
kbd,
pre,
small,
tt,
var {
    font-weight: inherit;
    vertical-align: baseline
}
caption,
dt,
strong,
sub,
sup,
td,
th {
    font-family: inherit
}
address,
blockquote,
caption,
cite,
dd,
dfn,
dt,
em,
ol,
p,
strong,
table,
td,
th,
ul {
    font-size: 100%;
    vertical-align: baseline
}
sub,
sup {
    font-weight: inherit
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box
}
*,
:after,
:before {
    box-sizing: inherit
}
article,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

caption,
td {
    font-weight: 300
}
caption,
td,
th {
    text-align: left
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}
blockquote,
q {
    quotes: "" ""
}
a:focus {
    outline: thin dotted
}
a:active,
a:hover {
    outline: 0
}
a img,
hr {
    border: 0
}
body {
    color: #404040;
    font-size: 15.5px;
    font-weight: 300
}
button,
input,
select {
    color: #404040;
    font-weight: 300
}
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select {
    font-family: "Roboto-Regular", "Helvetica Neue", Arial, sans-serif
}
body,
input,
select {
    font-size: 1.4rem;
    line-height: 1.4;
}
h1,
h2,
h3,
h4 {
    font-weight: 300
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.25;
    margin: 0 0 .5em
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 31.5px;
}
h3 {
    font-size: 20px;
}
h4,
h5,
h6 {
    font-size: 17px;
}
b,
dt,
h5,
h6,
strong,
th {
    font-weight: 700
}
cite,
dfn,
em,
i {
    font-style: italic
}

img{
    max-width: 100%
}

code,
kbd,
tt,
var {
    font-family: Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 100%
}
pre code {
    font-size: .85em
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}
ins,
mark {
    background: #fff9c0;
    text-decoration: none
}
sub,
sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    bottom: 1ex
}
sub {
    top: .5ex
}
small {
    font-size: 75%
}
big {
    font-size: 125%
}
hr {
    background-color: #ccc;
    height: 1px;
    margin-bottom: 1.5em
}
ol,
ul {
    margin: 0 0 1.5em 1em
}
ul {
    list-style: disc
}
ol {
    list-style: decimal
}
li>ol,
li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}
dd {
    margin: 0 1.5em 1.5em
}
img {
    height: auto
}
button {
    margin: 0
}
button,
input,
select {
    vertical-align: baseline
}
input,
select {
    font-size: 100%;
    margin: 0
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 15px 17px rgba(255, 255, 255, .5), inset 0 -5px 12px rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-appearance: button;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8)
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    border: none;
    box-shadow: none;
    background-color: #0c5c8d;
}
button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
    border: none;
    box-shadow: none;
}
input[type=checkbox],
input[type=radio] {
    padding: 0
}
input[type=search] {
    -webkit-appearance: textfield
}
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url] {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: inherit;
    font-weight: normal;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus {
    color: #111
}
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url] {
    padding: 4px
}
a {
    color: #009639
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-ThinItalic.eot');
  src: url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
       url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'),
       url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Thin.eot');
  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
       url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Thin.svg#Roboto-Thin') format('svg'),
       url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-MediumItalic.eot');
  src: url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
       url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg'),
       url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
       url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-LightItalic.eot');
  src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
       url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg'),
       url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Light.eot');
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg'),
       url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Italic.eot');
  src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
       url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Italic.svg#Roboto-Italic') format('svg'),
       url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-BoldItalic.eot');
  src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
       url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg'),
       url('../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-BlackItalic.eot');
  src: url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
       url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg'),
       url('../fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Black.eot');
  src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Black.woff') format('woff'),
       url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Black.svg#Roboto-Black') format('svg'),
       url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
    font-family: "nginx-font";
    src: url(../fonts/nginx-font/fonts/nginx-font.eot?1480854649);
    src: url(../fonts/nginx-font/fonts/nginx-font.eot?&1480854649#iefix) format("embedded-opentype"), url(../fonts/nginx-font/fonts/nginx-font.woff?1480854649) format("woff"), url(../fonts/nginx-font/fonts/nginx-font.ttf?1480854649) format("truetype"), url(../fonts/nginx-font/fonts/nginx-font.svg?1480854649#nginx-font) format("svg");
    font-weight: 400;
    font-style: normal
}
[data-icon]:before {
    content: attr(data-icon)
}
[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: "nginx-font"!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak-as: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-arrow-disc:before {
    content: "1"
}
.icon-nginx-cloud:before {
    content: "b"
}
.icon-nginx-testdeploy:before {
    content: "c"
}
.icon-nginx-webserver:before {
    content: "d"
}
.icon-nginx-connected:before {
    content: "e"
}
.icon-arrow-down:before {
    content: "3"
}
.icon-arrow-right:before {
    content: "4"
}
.icon-nginx-database:before {
    content: "h"
}
.icon-nginx-dynamic:before {
    content: "i"
}
.icon-arrow-submit:before {
    content: "2"
}
.icon-nginx-focus:before {
    content: "l"
}
.icon-nginx-internet:before {
    content: "m"
}
.icon-linkedin:before {
    content: "L"
}
.icon-play:before {
    content: "9"
}
.icon-nginx-loadbalance:before {
    content: "p"
}
.icon-nginx-modern:before {
    content: "q"
}
.icon-rss:before {
    content: "R"
}
.icon-search:before {
    content: "S"
}
.icon-nginx-monitoring:before {
    content: "t"
}
.icon-nginx-performance:before {
    content: "u"
}
.icon-twitter:before {
    content: "T"
}
.icon-user:before {
    content: "U"
}
.icon-nginx-reliability:before {
    content: "x"
}
.icon-nginx-softwareconfigure:before {
    content: "y"
}
.icon-nginx-application:before {
    content: "z"
}
.icon-nginx-caching:before {
    content: "a"
}
.icon-nginx-streamingmedia:before {
    content: "f"
}
.icon-facebook:before {
    content: "F"
}
.icon-arrow-left:before {
    content: "g"
}
.icon-arrow-up:before {
    content: "j"
}
.icon-menu:before {
    content: "k"
}
@-moz-keyframes nx-button-wiggle-for-scroll {
    0%, to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -moz-transform: translate(0, 2px);
        transform: translate(0, 2px)
    }
    66% {
        -moz-transform: translate(0, -2px);
        transform: translate(0, -2px)
    }
}
@-webkit-keyframes nx-button-wiggle-for-scroll {
    0%, to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -webkit-transform: translate(0, 2px);
        transform: translate(0, 2px)
    }
    66% {
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px)
    }
}
@keyframes nx-button-wiggle-for-scroll {
    0%, to {
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -moz-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
        -webkit-transform: translate(0, 2px);
        transform: translate(0, 2px)
    }
    66% {
        -moz-transform: translate(0, -2px);
        -ms-transform: translate(0, -2px);
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px)
    }
}
@-moz-keyframes nx-button-wiggle-for-hover {
    0%, to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -moz-transform: translate(0, 1px);
        transform: translate(0, 1px)
    }
    66% {
        -moz-transform: translate(0, -1px);
        transform: translate(0, -1px)
    }
}
@-webkit-keyframes nx-button-wiggle-for-hover {
    0%, to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px)
    }
    66% {
        -webkit-transform: translate(0, -1px);
        transform: translate(0, -1px)
    }
}
@keyframes nx-button-wiggle-for-hover {
    0%, to {
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    33% {
        -moz-transform: translate(0, 1px);
        -ms-transform: translate(0, 1px);
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px)
    }
    66% {
        -moz-transform: translate(0, -1px);
        -ms-transform: translate(0, -1px);
        -webkit-transform: translate(0, -1px);
        transform: translate(0, -1px)
    }
}
@-moz-keyframes nx-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes nx-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes nx-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.aligncenter {
    display: block;
    margin: 0 auto
}
.clear:after,
.clear:before {
    content: "";
    display: table
}
.clear:after {
    clear: both
}


a {
    transition: all .1s ease
}
a:link,
a:visited {
    color: #009639;
    text-decoration: none
}
a:active,
a:focus,
a:hover {
    color: #0bb35f;
    text-decoration: none
}

#page{
    background-color: #fff
}

/* end copy */

/* Styles for Sphinx generated elements */

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%
}

/* Hide fugly table cell borders in ..bibliography:: directive output */

dl dd {
    margin-left: 30px;
}

blockquote {

  display:block;
  padding: 10px 5px 3px 19px;
  margin: 5px 0 20px;
  position: relative;
  border-left: 1px solid #00953a;
  float: left;
  width: 100%;
}

blockquote strong{
  font-weight: 400;
  color: #000;
}

ul, ol {
    margin: 10px 0 10px 30px;
    padding: 0;
}

pre {
    max-width: 100%;
    background: #f7f7f7;
    /*font-family: "Courier 10 Pitch", Courier, monospace;*/
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
    overflow: auto;
    padding: 1em;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    /* white-space: pre-wrap */
    /*
    tab-size: 0;
    -moz-tab-size: 0;
    -o-tab-size: 0;
    */
    color: #202221;
    font-size: 15px;
    font-family: monospace;
}



dt:target{
    background: #f7f7f7;
}

/* end Styles for Sphinx generated elements */

/*================================================
            Header Style
================================================*/
label, .label, input, select {
  color: #989898;
}

.label{
  font-weight: normal;
}

.label span{
  font-weight: lighter;
}

.label {
  clear: both;
  padding-top: 5px;
}

div.label {
  padding-top: 10px;
}

/*print css */
@media only print {
    #secondary{
    display: none;
  }
  /*hide chat box*/
  /*For Product page */
}/*---end @media only print ---*/


/*----------- Update code -----------*/
/*---------------- End ------------------*/

/*-------------- Updated CSS ----------------*/
/*-------------- End ----------------*/

.main.container-fluid {
    background: white;
}

/*=====================================
            Footer Style
=====================================*/

/*===================================
        Button Styles
====================================*/

/*=====Button Instructions ====
<a href="" class="nginx-button button-secondary">Button 1</a>
<a href="" class="nginx-button button-primary">Button 2</a>
<a href="" class="nginx-button button-primary btn-have-icon">Button 3 <span class="icon icon-arrow-disc"></span></a>
=====================*/

/*================Additional styles added by oneTarek =========*/

/*hide the page title h1 from begening of content*/

/*hide the navigation /relbar */
div.related {
    display: none;
}

/* Hide nginx.com search box */

/*=================== Gabrial Responsive code ================*/



/* ============SYNTAX HIGHLIGHTER =======EXTEND OR OVERRIDE pygments.css==============*/
.highlight {margin:28px 0px;}

/* Remove lines below after updating old technique of adding terminal code */
/* end remove */
/* =====END====SYNTAX HIGHLIGHTER =========pygments.css==============*/

/* =====SEARCH RESULT=================*/
/* =====END SEARCH RESULT=================*/

/*======GDPR2==================*/
  .hidden{
    display: none;
  }

/*======END GDPR2==================*/

