<nav aria-label="breadcrumb" class="breadcrumb" data-grid="wide">
    <ol class="breadcrumb">
        <li><a href="/" alt="NGINX Docs Home">Home</a></li>
        {{- define "breadcrumb" -}}
        {{- with .Parent -}}
            {{- template "breadcrumb" . -}}
            {{- if not .IsHome -}}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}
            {{- end -}}
        {{- end -}}
        {{- if not .IsHome -}}
            {{- template "breadcrumb" . -}}
            {{- .LinkTitle -}}
        {{- end -}}
    </ol>
</nav>
