{{- /* Extract parameters with defaults and validation */ -}}
{{ $class := .class | default "" }}
{{ $title := .title | default "" }}
{{ $icon  := .icon  | default "" }}
{{ $inlineParam := .inline | default "false" | lower }}

{{ if not (in (slice "true" "false") $inlineParam) }}
  {{ errorf "Invalid parameter 'inline'='%s' passed to blockquote partial from '%s'. Allowed values: true, false" $inlineParam .Page.Path }}
{{ end }}

{{/*  Figure out inline/side and set class accordingly  */}}
{{ $inline := eq $inlineParam "true" }}
{{ $sideOption := "side-callout" }}
{{ $inlineOption := "inline-callout" }}

{{ if $inline }}
  {{ $class = printf "%s %s" $class $sideOption }}
{{ else }}
  {{ $class = printf "%s %s" $class $inlineOption }}
{{ end }}



{{/*  Old frame callout  */}}
<blockquote class="{{ $class }}" data-mf="false">
  <div>
    {{- with $icon -}}
      <i class="{{ . }}"></i>
    {{- end -}}
    <strong>{{ $title }}</strong>
    {{ .content | markdownify }}
  </div>
</blockquote>


{{/*  Render a different block, if "loud" callouts are used  */}}
{{ $specialTitles := slice "Caution" "Warning" "Deprecated" "Important" }}
{{ $specialTitleIcons := dict
  "Caution"    "alert-triangle"
  "Warning"    "alert-octagon"
  "Deprecated" "alert-octagon"
  "Important"  "arrow-right-circle"
}}
{{ $icon := index $specialTitleIcons $title | default "" }}

{{ $isSpecialTitle := in $specialTitles $title }}
{{ if $isSpecialTitle }}
  {{/*  Loud callouts  */}}
  <div>
  <blockquote class="{{ $class }}" data-mf="true">
    <div>
      <div class="call-out-type">
        {{ partial "feather" (dict "context" . "icon" $icon) .}}
       {{ $title }}
      </div>
      <div class="callout-content">
        {{ .content | markdownify }}
      </div>
    </div>
  </blockquote>
</div>

{{ else }}

{{/*  "Generic" mf callout  */}}

{{ $cleanTitle := strings.TrimSuffix ":" $title}}

<blockquote class="{{ $class }} note" data-mf="true" data-title="{{ $cleanTitle }}">
  <div class="callout-content">
    {{- with $icon -}}
      <i class="{{ . }}"></i>
    {{- end -}}
    <div class="callout-content">
    {{ .content | markdownify }}
    </div>
  </div>
</blockquote>

{{ end }}
