{{- /* Extract parameters with defaults and validation */ -}}
{{ $class := .class | default "" }}
{{ $title := .title | default "" }}
{{ $icon  := .icon  | default "" }}
{{ $sidelineParam := .sideline | default "false" | lower }}

{{ if not (in (slice "true" "false") $sidelineParam) }}
  {{ errorf "Invalid parameter 'sideline'='%s' passed to blockquote partial from '%s'. Allowed values: true, false" $sidelineParam .Page.Path }}
{{ end }}

{{/*  Figure out inline/side and set class accordingly  */}}
{{ $sideline := eq $sidelineParam "true" }}
{{ $sideOption := "side-callout" }}
{{ $inlineOption := "inline-callout" }}

{{/*  Default to inline callout  */}}
{{ $dataGrid := "first-two-thirds" }}
{{ if $sideline }}
  {{ $dataGrid = "last-third" }}
{{ end }}

{{/*  Render a different block, if "loud" callouts are used  */}}
{{ $type := (index (split $class " ") 0) | strings.FirstUpper }}
{{ $specialTitles := slice "Caution" "Warning" "Deprecated" "Important" }}
{{ $specialTitleIcons := dict
  "Caution"    "triangle-alert"
  "Warning"    "octagon-alert"
  "Deprecated" "octagon-alert"
  "Important"  "circle-arrow-right"
}}
{{ $icon := index $specialTitleIcons $type | default "" }}
{{ $isSpecialTitle := in $specialTitles $type }}
{{ if $isSpecialTitle }}
{{/*  Loud callouts  */}}
<blockquote class="{{ $class }}" data-grid="{{ $dataGrid }}">
  <div>
    <div class="call-out-type">
      {{ partial "lucide" (dict "context" . "icon" $icon) .}}
      {{ $title }}
    </div>
    <div class="callout-content">
      {{ .content | markdownify }}
    </div>
  </div>
</blockquote>

{{ else }}

{{/*  "Generic" mf callout  */}}

{{ $cleanTitle := strings.TrimSuffix ":" $title}}

<blockquote class="{{ $class }} note" data-title="{{ $cleanTitle }}" data-grid="{{ $dataGrid }}">
  <div class="callout-content">
    {{- with $icon -}}
      <i class="{{ . }}"></i>
    {{- end -}}
    <div class="callout-content">
    {{ .content | markdownify }}
    </div>
  </div>
</blockquote>

{{ end }}
