{{ $productUrl := .Page.Permalink }}
{{ $baseUrl := .Site.BaseURL }}
{{ $linkSplit := split (replace $productUrl $baseUrl "") "/" }}
{{ $productName := index $linkSplit 0 }}
{{ $changelogContent := readFile (printf "content/%s/changelog.md" $productName) }}
{{ $maxNumLogs := 3 }}
{{ $headings := first $maxNumLogs (findRE `(?m)^##\s(.+)$` $changelogContent) }}

<ul>
  {{ range $headings }}
  {{ $title := replaceRE "^##\\s" "" . }}
  <li><a href="{{ absURL (print $productName "/changelog/#" (urlize $title)) }}">{{ $title }}</a></li>
  {{ end }}  
  <li><a href="{{ absURL (print $productName "/changelog/")}}">Older...</a></li>
</ul>