<atomic-search-interface id="search-v2" data-testid="search-results-page">
    <atomic-search-layout>
      <!-- Search/Metadata Section -->
        <atomic-layout-section section="search">
          <div style="display: {{ if not .Params.searchOnPage }}none{{ end }};">
          <atomic-search-box></atomic-search-box>
          </div>
        </atomic-layout-section>
      <atomic-layout-section section="status">
        <div class="atomic-full-summary-and-sort">
          <atomic-refine-toggle></atomic-refine-toggle>
          <atomic-query-summary></atomic-query-summary>
          <atomic-sort-dropdown>
            <atomic-sort-expression label="relevance" expression="relevancy"></atomic-sort-expression>
            <atomic-sort-expression label="most-recent" expression="date descending"></atomic-sort-expression>
          </atomic-sort-dropdown>
        </div>
      </atomic-layout-section>

      <!-- Facet Section -->
      <atomic-layout-section section="facets">
        <atomic-facet field="f5_product" label="Show by product"></atomic-facet>
        <atomic-facet field="f5_product_grouping" label="Show by product group"></atomic-facet>
        <atomic-facet field="language" label="Show by language"></atomic-facet>
        <atomic-facet field="f5_document_type" label="Show by type"></atomic-facet>
      </atomic-layout-section>

      <!-- Main Section -->
      <atomic-layout-section section="main">
        <!-- Results -->
        <atomic-layout-section section="results">
          <atomic-no-results></atomic-no-results>
          <atomic-result-list>
            <atomic-result-template>
              <template>
                <!-- Title -->
                <atomic-result-section-title>
                  <div style="display: flex; align-items: center; justify-content: space-between;">
                    <atomic-result-link></atomic-result-link>
                    <atomic-quickview></atomic-quickview>
                  </div>
                </atomic-result-section-title>

                <!-- URL -->
                <atomic-result-section-title-metadata>
                  <atomic-result-printable-uri></atomic-result-printable-uri>
                </atomic-result-section-title-metadata>
                
                <!-- Excerpt -->
                <atomic-result-section-excerpt>
                  <atomic-result-text field="excerpt"></atomic-result-text>
                </atomic-result-section-excerpt>

                <!-- Date -->
                <atomic-result-section-bottom-metadata>
                  Modification Date: <atomic-result-date format="MMM D, YYYY"></atomic-result-date>
                </atomic-result-section-bottom-metadata>
              </template>
            </atomic-result-template>
          </atomic-result-list> 
        </atomic-layout-section>

        <!-- Pagination -->
        <atomic-layout-section section="pagination" style="margin-top: 2rem;">
          <atomic-pager></atomic-pager>
          <atomic-results-per-page></atomic-results-per-page>
        </atomic-layout-section>
      </atomic-layout-section>
    </atomic-search-layout>
  </atomic-search-interface>