{{ $cards := .Page.Scratch.Get "cards" }}
{{ $showAsCards := index ( .Page.Scratch.Get "showAsCards") "main" }}
{{ $class := "card-grid wide"}}

<div class="{{ if eq $showAsCards "true" }}{{ $class }}{{ end }}">
  <!-- Mainframe -->
  <div>
    {{ range .Pages.ByWeight }}
      {{ $title := .Title }}
      <div class="card-container">
        <h2>
          <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ $title }}</a>
        </h2>
        {{ range $cards }}
          {{ if eq .title $title }}
            <p>{{- .content -}}</p>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>