<div class="footer-layout">
    <div class="footer-f5-trademark" data-testid="footer-f5-trademark">
        <img class="f5-logo-footer" src="{{ "images/icons/Logo_F5.svg" | absURL }}" alt="F5 logo">
        <p>©2025 F5, Inc. All rights reserved. NGINX is a registered trademark of F5, Inc.</p>
    </div>
    <div class="footer-useful-links" data-testid="footer-useful-links">
        <a
            href="https://www.f5.com/company/policies/trademarks"
            rel="noopener"
            target="_blank"
            >Trademarks
        </a>
        <a
            href="https://www.f5.com/company/policies"
            rel="noopener"
            target="_blank"
            >Policies
        </a>
        <a
            href="https://www.f5.com/company/policies/privacy-notice"
            rel="noopener"
            target="_blank"
            >Privacy
        </a>
        <a
            href="https://www.f5.com/company/policies/privacy-notice#ca"
            rel="noopener"
            target="_blank"
            >California Privacy
        </a>
        <a
            href="https://www.f5.com/company/policies/privacy-notice#no-sell"
            rel="noopener"
            target="_blank"
            >Do Not Sell My Personal Information
        </a>
        <span id="teconsent"></span>
    </div>
</div>
