{{ define "header" }}
<div class="header-container">
    <div class="header__control">
        <div class="header__control--sidebar">
            <label class="header__control--sidebar--close" for="sidebar-panel">
            {{ partial "lucide" (dict "context" . "icon" "panel-left-close") }}
            </label>
            <label class="header__control--sidebar--open" for="sidebar-panel">
            {{ partial "lucide" (dict "context" . "icon" "panel-left-open") }}
            </label>
        </div>
        {{ if ( not ( in .Site.Params.buildtype "package" ) ) }}
        <!-- Mobile button -->
        <label class="header__search--mobile--search--button" id="header__search--mobile--search--button" for="search-standalone-header-panel">
          {{ partial "lucide" (dict "context" . "icon" "search") }}
        </label>
        <div class="header__search" id="header__search" data-mode="mobile">
            <!-- Standalone search box. -->
            {{ partial "coveo-atomic-search.html" (dict "id" "search-standalone-header") }}
        </div>
        {{ end }}
    </div>

    <div class="header__logo">
        <a class="header__logo-link" href="{{ .Site.BaseURL | relLangURL }}" alt="NGINX Docs Home">
            <img class="header__img" src="{{ "/images/icons/NGINX-Open-Source-product-icon.svg" | absURL }}" alt="NGINX Docs">
        </a>
    </div>

    <div class="header__f5sites">
    {{ $f5Sites := slice
      (dict "title" "DevCentral" "url" "https://community.f5.com/" "description" "Connect & learn in our hosted community")
      (dict "title" "MyF5" "url" "https://my.f5.com/" "description" "Your key to everything F5, including support, registration keys, and subscriptions")
      (dict "title" "NGINX" "url" "https://nginx.org/" "description" "Learn more about NGINX Open Source and read the community blog")
    }}

    <div class="navbar navbar-nav">
        <div class="nav-item-explore active">
          <button id="navbar-sites-button" class="button navbar-button dropdown-button" data-testid="header__f5sites_button">
              F5 Sites
              <span class="header__f5sites--icon">
              {{ partial "lucide" (dict "context" . "icon" "chevron-down") }}
              </span>
          </button>
          <div class="dropdown-content" id="dropdown-content" data-testid="header__f5sites_content">
            <ul>
              {{ range $f5Sites }}
                <li>
                  <a href="{{ .url }}" target="_blank" >{{ .title }}</a>
                  <p>{{ .description }}</p>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
    </div>

    </div>
</div>
{{ end }}
