<div class="list-page">
    {{ $PageTitle := .Title }}
    <div class="col-md-12 col-xl-12 py-md-3" style="margin-left: -1.75em;">
        <div class="page-header list">
            <h1 class="bd-title">
                {{ .Title }}
            </h1>
            {{ if .Description }}
                <p>
                    {{ .Description | markdownify }}
                </p>
            {{ end}}
            {{ partial "banner" .}}
            {{ $hasCustomContent := index .Params "nd-landing-page" | default false }}
            {{ if $hasCustomContent }} 
              {{ .Content }}
            {{ else }}
              <section data-mf="false">
                <div class="row">
                <div class="card-deck">
                    {{ range .Pages.GroupBy "Section" }}
                      {{ range .Pages.ByWeight }}
                        {{ $title := .Title }}
                        <div class="col-md-5 card">
                          <div class="card-body">
                            <h3 class="card-title" style="display: flex; align-items: center; gap: 5px;">
                            <i class="fas fa-{{if eq .Kind "page"}}file-alt{{else}}book{{end}} fa-lg card-img-top"></i>
                            <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
                            </h3>
                          </div>
                        </div>
                      {{ end }}
                    {{ end }}
                </div>
                </div>  
              </section>
            {{ end }}
        </div>
    </div>
</div>