<div class="list-page">
    <div class="col-md-12 col-xl-12 py-md-3 pl-md-5">
        <div class="page-header list">
            <h1 class="bd-title">
                {{ .Title }}
            </h1>
            {{ if .Content }}
                <p class="bd-lead">
                    {{ .Content | markdownify }}
                </p>
            {{ end }}
        </div>
    </div>
    {{ if lt .WordCount 1 }}
    <section class="col-md-12 col-xl-12 py-md-3 pl-md-5" id="section-content-list">
        
        <div class="row">
            <div class="card-deck">            
                {{ range .Pages.ByWeight }}
                <div class="col-md-5 card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <i class="fas fa-{{if eq .Kind "page"}}file-alt{{else}}book{{end}} fa-2x card-img-top"></i>
                            <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
                        </h3>
                    </div>
                </div>
                {{ end }}
            </div> 
        </div> 
    </section>
    {{ end }}
</div>


    {{ if not .IsHome }}
    <div class="row justify-content-center">
        {{ partial "pagination.html" . }}
    </div>
    {{ end }}

    
</div>