<!-- load code copy v2 js -->
{{ $codecopyv2 := resources.Get "/js/code-copy-v2.js" | fingerprint "sha512" }}
<script src="{{ $codecopyv2.RelPermalink }}" type="text/javascript"></script>

<!-- load site dropdown js -->
{{ $siteDropdown := resources.Get "/js/site-dropdown.js" | fingerprint "sha512" }}
<script src="{{ $siteDropdown.RelPermalink }}" type="text/javascript"></script>

<!-- load tabs js -->
{{ $tabs := resources.Get "/js/tabs.js" | fingerprint "sha512" }}
<script src="{{ $tabs.RelPermalink }}" type="text/javascript"></script>

<!-- load mermaid.js -->
{{ if .Page.Store.Get "hasMermaid" }}
{{ $mermaid := resources.Get "js/mermaid.min.js" | fingerprint "sha512" }}
<script src="{{ $mermaid.RelPermalink }}" type="text/javascript" integrity="{{ $mermaid.Data.Integrity }}"></script>
{{ end }}

<!-- Coveo Atomic -->
{{ if not (or (eq .Site.Params.disable_coveo true) (eq .Site.Params.disable_coveo "true")) }}  
<script
  type="module"
  src="https://static.cloud.coveo.com/atomic/v3.19.0/atomic.esm.js"
  integrity="sha512-VA9k6iDWhwxl8bwKUYPD63l93lGX7daV60k3yFxEt9EuEq4iWvsu5COq1mZ8OXKl0KCOFlUSDXS32Cy+YwbufQ=="
  crossorigin="anonymous">
</script>

<!-- START COVEO -->
<script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10104/0/js/CoveoJsSearch.Lazy.min.js"
  integrity="sha512-HxdDBIp5snbqtu1TPkBnXLKEvN9IPz3PeZW8zT9KfsflV9Ck822XDroDlpVbfCfXeiu8C0RDVn0fdu7aGy/H1g=="
  crossorigin="anonymous"></script>

<script src="https://static.cloud.coveo.com/searchui/v2.10104/0/js/templates/templates.js"
  integrity="sha512-CR0Yk/LIwgh1MsKqjecDp/r6F9ipKc6gA+4+E1pplT3N3r1pk+la/HaqyDiKtjOFwrwIIbIYBFrUJgPql93QHw=="
  crossorigin="anonymous"></script>

<!-- build coveo.js -->
{{ $.Scratch.Set "coveoSc" "" }}
{{- $coveo := resources.Get "js/coveo.js" | js.Build -}}
{{ $.Scratch.Set "coveoSc" $coveo}}
{{ $secureCoveo := $.Scratch.Get "coveoSc" | minify | fingerprint "sha512" }}


<script src="{{ $secureCoveo.RelPermalink }}" integrity="{{ $secureCoveo.Data.Integrity }}"type="text/javascript"></script>
{{ end }}

<!-- Load the Redoc resources if we're not using Dev Portal for the API reference layout-->
{{ if not ( eq .Site.Params.useDevPortal true ) }}

{{ $redoc := resources.Get "js/redoc.standalone.js" }}
{{ $redoc := $redoc | fingerprint "sha512" }}

<!-- only load the redoc js if we're on an api reference page -->
{{ if and (in .Params.doctypes "reference") (in .Params.tags "api") }}
<script src="{{$redoc.RelPermalink}}" type="text/javascript"></script>{{ end }}

{{ end }}

<!-- Load Product Selector javascript -->
{{ $jsProductSelector := resources.Get "js/product-selector.js" | minify | fingerprint "sha512" }}
<script src="{{ $jsProductSelector.RelPermalink }}" type="text/javascript" integrity="{{ $jsProductSelector.Data.Integrity }}"></script>

<!-- Load Sidebar v2 javascript -->
{{ $jsSidebarV2 := resources.Get "js/sidebar-v2.js" | minify | fingerprint "sha512" }}
<script src="{{ $jsSidebarV2.RelPermalink }}" type="text/javascript" integrity="{{ $jsSidebarV2.Data.Integrity }}"></script>
