{{ $coveoEnabled := partial "get-feature-flags.html" "disable_coveo" }}

<div class="content" data-testid="coveo-error-content" id="coveo-error-content" style="{{- if $coveoEnabled -}}display: none;{{- else -}}{{- end -}}">
  <div class="not-found-container" data-testid="not-found-container">
    <h1 class="info-header">
      Search functionality is unavailable.
    </h1>
    <a href="{{ site.BaseURL | relLangURL }}" aria-label="Return home">Return to the {{ site.Title }} homepage.</a>
  </div>
</div>