
<div class="sidebar__container">
    <div class="sidebar__header" data-testid="sidebar__header">
        <div>
            <a href="{{ .Site.BaseURL | relLangURL }}" alt="NGINX Docs Home">
                <img class="sidebar__img" src="{{ "/images/icons/NGINX-Docs-horiz-black-type.svg" | absURL }}" alt="NGINX Docs">
            </a>
        </div>
        <div class="sidebar__panel">
            <label for="sidebar-panel">
            {{ partial "lucide" (dict "context" . "icon" "panel-left-close") }}
            </label>
        </div>
    </div>
    <div class="sidebar__content__wrapper">
        <div class="sidebar__search" data-testid="sidebar__search">
          <!-- Standalone search box. -->
          {{ partial "coveo-atomic-search.html" (dict "id" "search-standalone-sidebar") }}
        </div>
        <div class="sidebar__content" data-testid="sidebar__content">
            <a class="skip-link" href="#maincontent">Skip Navigation</a>
            {{ partial "sidebar-list.html" (dict
            "firstSection" .FirstSection
            "currentUrl" .Permalink
            "currentPage" .
            "idPrefix" ""
          ) }}
        </div>
    </div>

</div>
