{{ $currentUrl := .currentUrl }}
{{ $context := .context }}
<ul class="collapsible-content">
    <!-- Add Overview link if there's a custom landing page for the section -->
    {{- with $context -}}
    {{- if gt (.WordCount) 0 -}}
    <li>
        {{- if eq $currentUrl .Permalink -}}                      
        <span class="box partial" id="current-page"></span>                 
        {{- end -}}    
        <a href="{{ .Permalink }}" class="{{if eq $currentUrl .Permalink}}current{{end}}">Overview</a>
    </li>
    {{- end -}}
    {{- end -}}
    {{ range $context.Pages.ByWeight }}
    <li>
        {{ if eq .Kind "section" }}
            <input type="checkbox" id="toggle-{{ .File.UniqueID }}" class="toggle-checkbox" style="display: none;">
            <label for="toggle-{{ .File.UniqueID }}" class="collapsible-header">
                {{ if .Pages }}
                    <span class="box expand partial-box"></span>
                    <span class="box opened partial-box"></span>
                {{ end }}
                {{ .Title }} 
            </label>
            {{ partial "sidebar-list-pages.html" (dict "context" . "currentUrl" $currentUrl) }}
        {{ else if eq .Kind "page" }}
            {{ if eq $currentUrl .Permalink }}                      
                <span class="box partial" id="current-page"></span>                 
            {{ else }}                     
                <span class="box-link partial"></span>              
            {{ end }}
            <a href="{{ .Permalink }}" class="{{if eq $currentUrl .Permalink}}current{{end}}">{{ .Title }} </a>
            {{ if eq $currentUrl .Permalink }}   
                {{- with .TableOfContents -}}
                    {{- . -}}
                {{- end -}}
            {{ end }}
        {{ end }}
    </li>
    {{ end }}
</ul>