{{ block "sidebar" . }}
<!-- sidebar start -->

<div id="sidebar-wrapper">

    <div id="sidebar" class="sidebar" aria-label="Sidebar navigation">
        <button id="sidebar-toggle-button" title="Toggle sidebar navigation" role="button" aria-controls="sidebar-content">
            <i class="fa fa-chevron-right sidebar-visible-collapsed"></i>
            <i class="fa fa-chevron-left sidebar-visible-expanded"></i>
        </button>
        <div id="sidebar-content">
            <h3>
                <a class="sidebar-title" href="{{.Site.Home.Permalink}}" alt="{{.Site.Title}}">{{ if .Site.Params.logo }}<img
                        class="card-img-top" src="{{ .Site.BaseURL}}/images/icons/{{ .Site.Params.logo }}"
                        alt="{{.Site.Title}}">{{end}}
                    {{.Site.Title}}</a>
            </h3>
            <ul>
            {{ range where .Site.Pages.ByWeight "Section" "=" "" }}
            {{ range .Pages.ByWeight }}
                {{if eq .Kind "page"}}<!-- Level 1 Regular Pages -->
                <!-- Create a regular list item for pages -->
                <ul class="sidebar-reg-padding">
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <ul>
                                    <li class="nginx-toc-link l1">
                                        <a data-menu-id="{{.RelPermalink}}"
                                            href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
                <!-- Create an accordion group for Level 1 sections -->
                {{ else }}
                <div class="accordion" id="accordion1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <li class="nginx-toc-link l1">
                                <a data-menu-id="{{.RelPermalink}}" class="accordion-toggle" aria-expanded="false"
                                    data-toggle="collapse" href="#" data-target="#{{.Section | urlize}}--{{.Title | urlize}}"
                                    aria-controls="{{.Section | urlize}}--{{.Title | urlize}}">
                                    <i class="fa fa-sm fa-fw fa-chevron-right"></i><i
                                        class="fa fa-sm fa-fw fa-chevron-down"></i>{{ .Title }}</a>
                            </li>
                        </div>
                        <div id="{{.Section | urlize}}--{{.Title | urlize}}" class="accordion-body collapse">
                            <div class="accordion-inner">
                            {{ range .Pages.ByWeight }}<!-- Level 2 Regular Pages -->
                            <!-- Create a regular list item for pages -->
                                {{if eq .Kind "page"}}
                                <ul class="sidebar-reg-padding">
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-group sidebar-il-border">
                                            <div class="accordion-heading">
                                                <ul>
                                                    <li class="nginx-toc-link l2">
                                                        <a data-menu-id="{{.RelPermalink}}"
                                                            href="{{ .Permalink }}">{{ .Title }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                                <!-- Create an accordion group for Level 2 sections -->
                                {{ else }}
                                <div class="accordion" id="Accordion2">
                                    <div class="sidebar-l1-padding">
                                        <div class="accordion-group sidebar-il-border">
                                            <div class="accordion-heading">
                                                <ul>
                                                    <li class="nginx-toc-link l2">
                                                        <a data-menu-id="{{.RelPermalink}}" class="accordion-toggle"
                                                            aria-expanded="false" data-toggle="collapse"
                                                            href="#{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}">
                                                            <i class="fa fa-2xs fa-fw fa-chevron-right"></i><i
                                                                class="fa fa-2xs fa-fw fa-chevron-down"></i>{{ .Title }}</a>
                                                    </li>
                                                <ul>
                                            </div>
                                            <div id="{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}" class="accordion-body collapse leaf">
                                                <div class="accordion-inner">

                                                {{ range .Pages.ByWeight }}<!-- Level 3 Regular Pages -->
                                                    <!-- Create a regular list item for pages -->
                                                    {{if eq .Kind "page"}}
                                                    <ul class="sidebar-l2-padding">
                                                        <li class="nginx-toc-link l3 sidebar-il-border">
                                                            <a data-menu-id="{{.RelPermalink}}" href="{{ .Permalink }}">{{ .Title }}</a>
                                                        </li>
                                                    </ul>                                            
                                                    <!-- Create an accordion group for Level 3 sections -->
                                                    {{else}}
                                                    <div class="accordion" id="Accordion3">
                                                        <div class="sidebar-l2-padding">
                                                            <div class="accordion-group sidebar-il-border">
                                                                <div class="accordion-heading">
                                                                    <ul>
                                                                        <li class="nginx-toc-link l2">
                                                                            <a data-menu-id="{{.RelPermalink}}" class="accordion-toggle"
                                                                                aria-expanded="false" data-toggle="collapse"
                                                                                href="#{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}">
                                                                                <i class="fa fa-2xs fa-fw fa-chevron-right"></i><i
                                                                                    class="fa fa-2xs fa-fw fa-chevron-down"></i>{{ .Title }}</a>
                                                                        </li>
                                                                    <ul>
                                                                </div>
                                                                <div id="{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}" class="accordion-body collapse leaf">
                                                                    <div class="accordion-inner">
                                                                    {{ range .Pages.ByWeight }}<!-- Level 4 Regular Pages -->
                                                                    <!-- Create a regular list item for pages -->
                                                                    {{if eq .Kind "page"}}
                                                                        <ul class="sidebar-l2-padding">
                                                                            <li class="nginx-toc-link l3 sidebar-il-border ">
                                                                                <a data-menu-id="{{.RelPermalink}}"
                                                                                    href="{{ .Permalink }}">{{ .Title }}</a>
                                                                            </li>
                                                                        </ul>
                                                                    <!-- Create an accordion group for Level 4 sections -->
                                                                    {{else}}
                                                                        <div class="accordion" id="Accordion4">
                                                                            <div class="sidebar-l2-padding">
                                                                                <div class="accordion-group sidebar-il-border">
                                                                                    <div class="accordion-heading">
                                                                                        <ul>
                                                                                            <li class="nginx-toc-link l2">
                                                                                                <a data-menu-id="{{.RelPermalink}}" class="accordion-toggle"
                                                                                                    aria-expanded="false" data-toggle="collapse"
                                                                                                    href="#{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}">
                                                                                                    <i class="fa fa-2xs fa-fw fa-chevron-right"></i><i
                                                                                                        class="fa fa-2xs fa-fw fa-chevron-down"></i>{{ .Title }}</a>
                                                                                            </li>
                                                                                        <ul>
                                                                                    </div>
                                                                                    <div id="{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}" class="accordion-body collapse leaf">
                                                                                        <div class="accordion-inner">
                                                                                            {{ range .Pages.ByWeight }}<!-- Level 5 Regular Pages -->
                                                                                            <!-- Create a regular list item for pages -->
                                                                                            {{if eq .Kind "page"}}
                                                                                            <ul class="sidebar-l2-padding">
                                                                                                <li class="nginx-toc-link l3 sidebar-il-border ">
                                                                                                    <a data-menu-id="{{.RelPermalink}}"
                                                                                                        href="{{ .Permalink }}">{{ .Title }}</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                            <!-- Create an accordion group for Level 5sections -->
                                                                                            {{else}}    
                                                                                            <div class="accordion" id="Accordion5">
                                                                                                <div class="sidebar-l2-padding">
                                                                                                    <div class="accordion-group sidebar-il-border">
                                                                                                        <div class="accordion-heading">
                                                                                                            <ul>
                                                                                                                <li class="nginx-toc-link l2">
                                                                                                                    <a data-menu-id="{{.RelPermalink}}" class="accordion-toggle"
                                                                                                                        aria-expanded="false" data-toggle="collapse"
                                                                                                                        href="#{{.Section | urlize}}--{{.Parent.File.ContentBaseName}}--{{.Title | urlize}}">
                                                                                                                        <i class="fa fa-2xs fa-fw fa-chevron-right"></i><i
                                                                                                                            class="fa fa-2xs fa-fw fa-chevron-down"></i>{{ .Title }}</a>
                                                                                                                </li>
                                                                                                            <ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            {{ end }}
                                                                                            {{ end }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {{ end }}
                                                                        {{ end }}  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                {{ end }}                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            {{ end }}
                            </div>
                        </div>
                    </div>
                </div> 
                {{ end }}
            {{ end }}
        {{ end }}

            </ul>
        </div>
    <!-- close sidebar div-->
    </div>

</div>

{{ end }}