{{ $nginxProducts := slice 
    (dict "title" "NGINX One Console" "url" "/nginx-one" "type" "nginx-one")
    (dict "title" "NGINX Plus" "url" "/nginx" "type" "nginx-one")
    (dict "title" "NGINX Instance Manager" "url" "/nginx-instance-manager" "type" "nginx-one")
    (dict "title" "NGINX Ingress Controller" "url" "/nginx-ingress-controller" "type" "nginx-one")
    (dict "title" "NGINX Gateway Fabric" "url" "/nginx-gateway-fabric" "type" "nginx-one")
    (dict "title" "NGINX Open Source" "url" "https://nginx.org/en/docs/" "type" "nginx-one")
    (dict "title" "Subscription Licensing & Solutions" "url" "/solutions/" "type" "nginx-one")
    (dict "title" "NGINX Agent" "url" "/nginx-agent" "type" "nginx-one")
    (dict "title" "NGINX App Protect WAF" "url" "/nginx-app-protect-waf" "type" "nginx-app-protect")
    (dict "title" "NGINX App Protect DoS" "url" "/nginx-app-protect-dos" "type" "nginx-app-protect")
    (dict "title" "NGINX as a Service for Azure" "url" "/nginxaas/azure/" "type" "nginx-as-a-service")
    (dict "title" "NGINX Unit" "url" "https://unit.nginx.org/" "type" "nginx-other")
}}
{{ $productMap := dict }}
{{ range $nginxProducts }}
    {{ $productId := index (split .url "/") 1 }}
    {{ $productMap = merge $productMap (dict $productId .title) }}
{{ end }}
{{ $relPermalink := .RelPermalink }}
{{ $productIdentifier := index ((split $relPermalink "/")) 1 }}
{{ $productName := index $productMap $productIdentifier }}

<atomic-search-interface id="search-standalone-sidebar" data-mf="true" style="display:none;">
    <atomic-search-box redirection-url="/search.html">
    </atomic-search-box>
</atomic-search-interface>
<button class="product-selector-button" id="product-selector-button">
    {{/* product name and selector */}}
    <div class="product-selector-name" id="product-selector-name">{{ $productName }}</div>
    <div class="product-selector-button-icon" id="product-selector-button-icon">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg" id="product-selector-chevron-icon">
            <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="product-selector-chevron-icon"/>
        </svg>
    </div>
</button>
<div class="product-selector" id="product-selector">
    {{ $groupedProducts := dict 
        "nginx-one" (where $nginxProducts "type" "nginx-one")
        "nginx-app-protect" (where $nginxProducts "type" "nginx-app-protect")
        "nginx-as-a-service" (where $nginxProducts "type" "nginx-as-a-service")
        "nginx-other" (where $nginxProducts "type" "nginx-other")
    }}
    {{ $orderedKeys := slice "nginx-one" "nginx-app-protect" "nginx-as-a-service" "nginx-other" }}
    {{ range $orderedKeys }}
    {{ $type := . }}
    {{ $products := index $groupedProducts $type }}
        <div class="product-selector-content" id="product-selector-content">
            <p id="product-selector-content-product-group-name">{{ $type | humanize | title | upper }}</p>
            <ul id="product-selector-content-product-container">
            {{ range $products }}
                <li id="product-selector-content-product-name">
                    <a id="product-selector-content-product-link" href="{{ .url }}">{{ .title }}</a>
                </li>
            {{ end }}
            </ul>
        </div>
    {{ end }}
</div>
<div class="scrollbar-container">
    <div class="sidebar-navigation">
        <ul class="parent-collapsible-content">
        {{ range .FirstSection.Pages.ByWeight }}
            <li class="parent-collapsible-content-item">
                {{ if eq .Kind "section" }}
                    <input type="checkbox" id="toggle-{{ .File.UniqueID }}" class="toggle-checkbox" style="display: none;" >
                    <label for="toggle-{{ .File.UniqueID }}" class="collapsible-header">
                        {{- if .Pages -}}
                            <span class="parent-box expand"></span>
                            <span class="parent-box opened"></span>
                        {{- end -}}
                        {{- .Title -}} 
                    </label>
                    {{ partial "sidebar-list-pages.html" (dict "context" . "currentUrl" $.Permalink) }}
                {{ else if eq .Kind "page" }}
                    {{ if eq $.Permalink .Permalink }}                      
                        <span class="parent-box current"></span>                 
                    {{ else }}                     
                        <span class="parent-box-link"></span>              
                    {{ end }}
                    <a href="{{ .Permalink }}" class="{{if eq $.Permalink .Permalink}}current{{end}}">{{ .Title }} </a> 
                {{ end }}
            </li>
        {{ end }}
        </ul>
    </div>
</div>