
<div class="sidebar__container">
    <div class="sidebar__header">
        <div class="sidebar__search">
          <!-- Standalone search box. -->
          {{ partial "coveo-atomic-search.html" (dict "id" "search-standalone-sidebar") }}
        </div>



    </div>
    <div class="sidebar__content__wrapper">

        <div class="sidebar__content">
            <a class="skip-link" href="#maincontent">Skip Navigation</a>
            {{ partial "sidebar-list.html" (dict
            "firstSection" .FirstSection
            "currentUrl" .Permalink
            "currentPage" .
            "idPrefix" ""
          ) }}
        </div>
    </div>

</div>
