{{ $currentUrl := .currentUrl }}
{{ $context := .context }}
<ul class="collapsible-content" id="collapsible-content">
    {{ range $context.Pages.ByWeight }}
    <li>
        {{ if eq .Kind "section" }}
            <input type="checkbox" id="toggle-{{ .File.UniqueID }}" class="toggle-checkbox" style="display: none;">
            <label for="toggle-{{ .File.UniqueID }}" class="collapsible-header" id="collapsible-header">
                {{ if .Pages }}
                    <span class="box expand partial-box" id="toggle-expand"></span>
                    <span class="box opened partial-box" id="toggle-opened"></span>
                {{ end }}
                {{ .Title }} 
            </label>
            {{ partial "sidebar-list-pages.html" (dict "context" . "currentUrl" $currentUrl) }}
        {{ else if eq .Kind "page" }}
            {{ if eq $currentUrl .Permalink }}                      
                <span class="box current partial" id="collapsible-link-current"></span>                 
            {{ else }}                     
                <span class="box-link partial" id="collapsible-link-option"></span>              
            {{ end }}
            <a href="{{ .Permalink }}" style="{{if eq $currentUrl .Permalink}}font-weight: bold;{{end}}">{{ .Title }} </a>
            {{ if eq $currentUrl .Permalink }}   
                {{- with .TableOfContents -}}
                    {{- . -}}
                {{- end -}}
            {{ end }}
        {{ end }}
    </li>
    {{ end }}
</ul>