/* Background */
.bg {
  background-color: light-dark(#f8f8f8, #0d1117);
}

/* PreWrapper */
.chroma {
  color: light-dark(#000, #e6edf3);
  background-color: light-dark(#f8f8f8, #0d1117);
}

/* Other */
.chroma .x {
  color: light-dark(#000, inherit);
}

/* Error */
.chroma .err {
  color: light-dark(#a40000, #f85149);
}

/* CodeLine */
.chroma .cl { }

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: light-dark(#dfdfdf, #6e7681);
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: light-dark(#7f7f7f, #737679);
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: light-dark(#7f7f7f, #6e7681);
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .kt {
  color: light-dark(#204a87, #ff7b72);
  font-weight: bold;
}

/* Name */
.chroma .n,
.chroma .nc,
.chroma .no,
.chroma .nf,
.chroma .fm,
.chroma .nn,
.chroma .nx,
.chroma .py,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: light-dark(#000, #79c0ff);
}

/* NameAttribute */
.chroma .na {
  color: light-dark(#c4a000, inherit);
}

/* NameBuiltin */
.chroma .nb {
  color: light-dark(#204a87, inherit);
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: light-dark(#3465a4, inherit);
}

/* NameClass */
.chroma .nc {
  font-weight: light-dark(normal, bold);
}

/* NameConstant */
.chroma .no {
  font-weight: light-dark(normal, bold);
}

/* NameDecorator */
.chroma .nd {
  color: light-dark(#5c35cc, #d2a8ff);
  font-weight: bold;
}

/* NameEntity */
.chroma .ni {
  color: light-dark(#ce5c00, #ffa657);
}

/* NameException */
.chroma .ne {
  color: light-dark(#c00, #f0883e);
  font-weight: bold;
}

/* NameLabel */
.chroma .nl {
  color: light-dark(#f57900, #79c0ff);
  font-weight: light-dark(normal, bold);
}

/* NameTag */
.chroma .nt {
  color: light-dark(#204a87, #7ee787);
  font-weight: bold;
}

/* LiteralString */
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: light-dark(#4e9a06, #a5d6ff);
}

/* LiteralNumber */
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: light-dark(#0000cf, #a5d6ff);
  font-weight: bold;
}

/* Operator */
.chroma .o,
.chroma .ow {
  color: light-dark(#ce5c00, #ff7b72);
  font-weight: bold;
}

/* Punctuation */
.chroma .p {
  color: light-dark(#000, inherit);
  font-weight: bold;
}

/* Comment */
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: light-dark(#8f5902, #8b949e);
  font-style: italic;
}

/* CommentSpecial */
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  font-weight: light-dark(normal, bold);
}

/* GenericDeleted */
.chroma .gd {
  color: light-dark(#a40000, #ffa198);
  background-color: light-dark(inherit, #490202);
}

/* GenericEmph */
.chroma .ge {
  color: light-dark(#000, inherit);
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: light-dark(#ef2929, #ffa198);
}

/* GenericHeading */
.chroma .gh {
  color: light-dark(#000080, #79c0ff);
  font-weight: bold;
}

/* GenericInserted */
.chroma .gi {
  color: light-dark(#00a000, #56d364);
  background-color: light-dark(inherit, #0f5323);
}

/* GenericOutput */
.chroma .go {
  color: light-dark(#000, #8b949e);
  font-style: italic;
}

/* GenericPrompt */
.chroma .gp {
  color: light-dark(#8f5902, #8b949e);
}

/* GenericStrong */
.chroma .gs {
  color: light-dark(#000, inherit);
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: light-dark(#800080, #79c0ff);
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: light-dark(#a40000, #ff7b72);
  font-weight: bold;
}

/* GenericUnderline */
.chroma .gl {
  color: light-dark(#000, inherit);
  text-decoration: underline;
}

/* TextWhitespace */
.chroma .w {
  color: light-dark(#f8f8f8, #6e7681);
  text-decoration: underline;
}
