/* Regular */
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 400; /* regular weight */
  src: url("../css/fonts/jetbrainsmono/JetBrainsMono-Light.woff2")
    format("woff2");
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 400;
  src: url("../css/fonts/jetbrainsmono/JetBrainsMono-Italic.woff2")
    format("woff2");
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 700;
  src: url("../css/fonts/jetbrainsmono/JetBrainsMono-SemiBold.woff2")
    format("woff2");
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 700;
  src: url("../css/fonts/jetbrainsmono/JetBrainsMono-BoldItalic.woff2")
    format("woff2");
  font-display: swap;
}
