:root {
  /* webfonts */
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-feature-settings: "liga" on, "calt" on;

  /* fallback to slightly thinner font on browsers without variable 'wght' support */
  font-weight: 350;

  /* base rem = 16px by default, left as percentage for screen readers */
  font-size: 100%;

  /* MARK: Colors
  */
  --color-brand: 56.6% 0.194 147.7;
  --color-brand-300: 0.84 0.0699 157.51;
  --color-brand-200: 0.91 0.0406 157.72;
  --color-brand-100: 0.98 0.0107 158.85;
  --color-background: 1 0 0;
  --color-foreground: 0 0 0;
  --color-shadow: 0.86 0 0;
  --color-inline_codeblock-border: 0.85 0 0;
  --color-inline_codeblock-background: 0.98 0 0;
  --color-codeblock-border: 0.63 0 0;
  --color-codeblock-shadow: 0.92 0 0;
  --color-codeblock-background: 1 0 0;
  --color-codeblock-highlight: 0.99 0.0479 105.97;
  --color-footer: 0.23 0 0;
  --color-footer-text: 0.91 0 0;
  --color-product-title: 0.64 0 0;
  --color-tabs-inactive-border: 0 0 0 / 20%;
  --color-callout-warning: 0.65 0.188 24;
  --color-callout-warning-shadow: 0.65 0.188 24 / 20%;
  --color-callout-caution: 0.8 0.1613 71.21;
  --color-callout-caution-shadow: 0.8 0.1613 71.21 / 20%;
  --color-callout-important: 0.36 0 0;
  --color-callout-important-shadow: 0.23 0 0 / 7.06%;
  --color-divider: 0.85 0 0;

  /* MARK: Grids
  */
  --grid-sidebar: 24rem;
  --grid-sidebar-gutter: 3rem;
  --grid-content: minmax(34rem, 50rem);
  --grid-content-mobile: minmax(20rem, 50rem);
  --grid-side-callout: minmax(18rem, 26rem);
  --grid-column-gutter: 3.5rem;

  --code-copy-icon-height: 1rem;
  --code-copy-icon-width: 1rem;
  --breadcrumb-max-height: 54px;
  --sidebar-margin: 1.5rem;
  --sidebar-line-box-side-length: 8px;
  --sidebar-line-box-top: 6px;
  --sidebar-line-box-left: 12px;
  --sidebar-width: 22rem;
  --sidebar-line-width: 11.5px;
  --sidebar-mobile-top-displacement: 5rem;
  --side-gutter-width: 20rem;
  --table-top-bottom-spacing: 1rem;
  --table-row-space-between: 1.5rem;
  --table-min-column-spacing-narrow: 1.5rem;
  --table-min-column-spacing-wide: 0.75rem;
  --table-header-bottom-spacing: 1rem;
  --table-line-height: 1px;
  --codeblock-comment-diff: 2rem;
  --codeblock-comment-space-between: 10px;
  --codeblock-horizontal-line-length: 2rem;
  --codeblock-horizontal-line-overflow: 0.25rem;
  --codeblock-border-thickness: 1px;
  --codeblock-code-section-padding-left: 1rem;
  --codeblock-line-box-side-length: 4px;
  --overflow-gutter-extension: 1rem;

  --flow-gap: 1rem;
}
