<!-- Blockquote element with a class that is the first parameter passed to the shortcode -->
<blockquote class="{{ .Get 0 }}">
   <div>
     <!-- Check if the third parameter (icon class) is provided -->
     {{ with .Get 2 }}
       <!-- If the icon class is provided, render an <i> element with the given class -->
       <i class="{{ . }}"></i>
     {{ end }}
     <!-- Render the second parameter (title) as a strong element -->
     <strong>{{ .Get 1 }}</strong><br/>
     <!-- Render the inner content of the shortcode, converting it from Markdown to HTML -->
     {{ .Inner | markdownify }}
   </div>
 </blockquote>