{{/*  

Usage:
{{<call-out title="Custom title" icon="fa fa-check-circle" sideline="true">}}
This callout uses the icon check-circle. **This should be an sideline callout.**
{{</call-out>}}

Backwards compatibility usage:
{{<call-out "warning" "Custom title" "fa fa-check-circle" "true">}}
This callout uses the icon check-circle. **This should be an sideline callout.**
{{</call-out>}}

Depends on `callout.html` partial.

*/}}

{{ $class := .Get 0 | default (.Get "class") | default "" }}
{{ $title := .Get 1 | default (.Get "title") | default "" }}
{{ $icon := .Get 2 | default (.Get "icon") | default "" }}

{{/*  Handle different versions of booleans  */}}
{{ $sidelineParam := (.Get 3) | default (.Get "sideline") | default "false" | lower }}
{{- /* Validate the parameter strictly */ -}}
{{ if not (in (slice "true" "false") $sidelineParam) }}
  {{ warnf "The '<call-out>' Shortcode parameter 'sideline' must be 'true' or 'false', but got: '%s'. This will now default to 'false'" $sidelineParam}}
{{ end }}

{{ partial "callout.html" (dict
    "class" (printf "%s %s" $class "call-out")
    "title" $title
    "icon"  $icon
    "sideline" $sidelineParam
    "content" .Inner
) }}