{{ $title := .Get "title" }}
{{ $isFeaturedSectionParam := .Get "isFeaturedSection" | default "false" }}
{{ $showAsCardsParam := .Get "showAsCards" | default "false"}}
{{- /* Validate the parameter strictly */ -}}
{{- if not (in (slice "true" "false") $showAsCardsParam) -}}
  {{- warnf "The '<card-section>' Shortcode parameter 'showAsCards' must be 'true' or 'false', but got: '%s'. This will now default to 'false'" $showAsCardsParam -}}
{{- end -}}
{{- $showAsCards := cond (eq $showAsCardsParam "true") "true" "false" -}}
{{- $current := .Page.Scratch.Get "showAsCards" | default (dict) -}}
{{- $newShowAsCards := dict ($title | default "main") ($showAsCards) -}}
{{- .Page.Scratch.Set "showAsCards" (merge $current ($newShowAsCards)) -}}
{{- /* Limit the cards if it is a featured section */ -}}
{{- if not (in (slice "true" "false") $isFeaturedSectionParam) -}}
  {{- warnf "The '<card-section>' Shortcode parameter 'isFeaturedSection' must be 'true' or 'false', but got: '%s'. This will now default to 'false'" $isFeaturedSectionParam -}}
{{- end -}}
{{- $isFeaturedSection := cond (eq $isFeaturedSectionParam "true") "true" "false" -}}
{{- $class := "card-grid" -}}
{{- /* Validate that the parent is card-layout */ -}}
{{ if eq .Parent.Name "card-layout"}}
  <div class="card-section{{if eq $isFeaturedSection "true"}}featured-section{{ end }}">
    {{- if $title -}}
      <strong class="card-section-title">{{- $title -}}</strong>
      <div class="card-section-content{{ if eq $showAsCards "true" }} {{ $class }}{{ end }}">{{- .Inner -}}</div>    
    {{ else }}
      <div class="card-section-content{{ if eq $showAsCards "true" }} {{ $class }}{{ end }}">{{ .Inner }}</div>    
    {{ end }}
  </div>
{{ else }}
  {{ errorf "The '<card-section>' must be nested directly inside the shortcode '<card-layout>'. Please see the exampleSite for an example of usage." }}
{{ end }}