{{- $title := .Get "title" -}}
{{- $titleUrl := .Get "titleUrl" | default "/" -}} 
{{- $icon := .Get "icon" | default "NGINX-product-icon" -}}
{{- $current := .Page.Scratch.Get "cards" | default (slice) -}}
{{- $newCard := dict "title" ($title) "content" (.Inner) -}}
{{- .Page.Scratch.Set "cards" ($current | append $newCard) -}}
{{- /* Validate that the parent is card-section */ -}}
{{- if eq .Parent.Name "card-section" -}}
  <div class="card-container">
    {{- if $title -}}
      {{- if $titleUrl -}}
        <h2 class="card-title"><a href="{{- $titleUrl -}}">{{- $title -}}</a></h2>
      {{- else -}}
        <h2 class="card-title">{{- $title -}}</h2>
      {{- end -}}
    {{- else -}}
      {{ errorf "Mainframe: Missing param 'title'" }}
    {{- end -}}
    {{ .Inner }}
  </div>
{{- else -}}
  {{ errorf "The '<card>' must be nested directly inside the shortcode '<card-section>'. Please see the exampleSite for an example of usage." }}
{{- end -}}