{{ $file := .Get 0 }}
{{ $params := .Get 1 }}
{{ $codeBlockId :=  printf "id-%x" (now.UnixNano) }}
{{ with try (resources.GetRemote $file) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $lang := path.Ext $file | strings.TrimPrefix "." }}    
    <div class="code-block">
      {{- if and (ne $lang "") (ne $lang "none") -}}
          <span class="code-type chroma">{{ $lang }}</span>
      {{- end -}}
      <div class="code-container chroma">
          <button onclick="copyToClipBoard(this, {{ $codeBlockId }})" class="code-copy-button multi-line" type="button">Copy</button>
          <div class="highlight-v2" id="{{ $codeBlockId }}">
            {{ highlight .Value $lang $params }}
          </div>
      </div>
    </div>
  {{ end }}
{{ else }}
  {{ errorf "Unable to load github content from %s from %q" $file .Position}}
{{ end }}