{{- .Page.Scratch.Add "tabset-counter" 1 -}}
{{- $tab_set_id := .Get "name" | default (printf "tabset-%s-%d" (.Page.RelPermalink) (.Page.Scratch.Get "tabset-counter") ) | anchorize -}}
{{- $tabs := .Scratch.Get "tabs" -}}
{{- if .Inner -}}
  <div class="tabs-container" id="{{ $tab_set_id }}">
    {{- range $i, $e := $tabs -}}
	  {{- $id := printf "%s-tab%d" $tab_set_id $i -}}
      {{- if eq $i 0 -}}
        <input type="radio" name="{{$tab_set_id}}" id="{{$id}}" aria-hidden="true" checked="checked">
      {{- else -}}
        <input type="radio" name="{{$tab_set_id}}" id="{{$id}}" aria-hidden="true">
      {{- end -}}  
	{{- end -}}
	<ul class="tab-labels" role="tablist" id="{{ $tab_set_id }}">
	  {{- range $i, $e := $tabs -}}
	  	{{- $id := printf "%s-tab%d" $tab_set_id $i -}}
		<li>
		  {{- if eq $i 0 -}}
			<label class="tab-label" role="tab" id="{{$id}}" for="{{$id}}" aria-controls="{{ $id }}" aria-selected="true" tabindex="0">
			  {{- trim .name " " -}}
			</label>
		  {{- else -}}
			<label class="tab-label" role="tab" id="{{$id}}" for="{{$id}}" aria-controls="{{ $id }}" tabindex="0">
			  {{- trim .name " " -}}
			</label>
		  {{- end -}}
		</li>
	  {{- end -}}
	</ul>
	<div class="tabs-content">
	  {{- range $i, $e := $tabs -}}
	    {{- $id := printf "%s-panel%d" $tab_set_id $i -}}
		<div class="tab-content" role="tabpanel" id="{{ $tab_set_id }}-panel{{ $i }}" aria-labelledby="{{ $id }}">
		  {{ with .content }}
			{{ . }}
		  {{ end }}
		</div> 
	  {{- end -}}
	</div> 
  </div>
{{ end }}
<style>
  {{- range $i, $e := $tabs -}}
  	.tabs-container input[type="radio"]:checked:nth-of-type({{ add $i 1 }}) ~ .tab-labels li:nth-of-type({{ add $i 1 }}) {
	  border: none;
      border-top: 1px solid oklch(var(--color-foreground));
      border-left: 1px solid oklch(var(--color-foreground));
      border-bottom: none;
      color: oklch(var(--color-foreground));

	  + li {
		border-left: 1px solid oklch(var(--color-foreground));
	  }

	  &:last-of-type {
      	border-right: 1px solid oklch(var(--color-foreground));
      }
	}

	.tabs-container input[type="radio"]:checked:nth-of-type({{ add $i 1 }}) ~ .tabs-content div:nth-of-type({{ add $i 1 }}) {
	  display: block;
	}
  {{- end -}}
</style>