name: Lint and Biome Check

# Run the workflow when code is pushed or when a pull request is created
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  biome:
    name: Run Biome
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository so the workflow has access to the code
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Run the run-biome.sh script
      - name: Run run-biome.sh
        run: scripts/run-biome.sh
