name: Lint and Biome Check

# Run the workflow when code is pushed or when a pull request is created
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  biome:
    name: Run Biome
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository so the workflow has access to the code
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Run the run-biome.sh script
      - name: Run run-biome.sh
        run: scripts/run-biome.sh
