name: Update lighthouse report artifact for main branch

on: 
  push:
    branches: 
      - main
  workflow_dispatch:

env:
  OWNER: nginxinc
  REPO: nginx-hugo-theme
  FRONT_DOOR_USERNAME: ${{ secrets.FRONT_DOOR_USERNAME }}
  FRONT_DOOR_PASSWORD: ${{ secrets.FRONT_DOOR_PASSWORD }}
jobs:
  generate-lighthouse-report:
    runs-on: ubuntu-24.04
    steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
          with:
            ref: ${{ github.event.workflow_run.head_branch }}
        - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
          with:
            node-version: 24
        - name: Installing packages
          run: cd performance && npm ci
        - name: Get PR number being merged
          env: 
            PAGE: 1
            PER_PAGE: 10
          run: |
            RESPONSE=$(curl -L \
              -X GET \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              -s "https://api.github.com/repos/${{ env.OWNER }}/${{ env.REPO }}/pulls?state=closed&direction=desc&page=${{ env.PAGE }}&per_page=${{ env.PER_PAGE }}")
            LATEST_PR_NUMBER=$(echo "$RESPONSE" | jq -r '.[] | select(.merged_at != null) | .number' | head -1)
            echo "GITHUB_PR_NUMBER=$LATEST_PR_NUMBER" >> $GITHUB_ENV
        - name: Generating lighthouse reports for main...
          env: 
            REPORT_NAME: "main"
            GITHUB_PR_NUMBER: ${{ env.GITHUB_PR_NUMBER }}
          run: |
            node performance/lighthouse-script.js
        - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
          with:
            name: lighthouse-reports-main
            path: lighthouse-reports/main-report.json
            retention-days: 30
