name: Build Hugo Docs with PR Theme

on:
  pull_request:
    branches:
      - main

jobs:
  build-docs:
    name: Build Hugo Docs with PR Theme
    runs-on: ubuntu-latest

    steps:
      - name: Checkout hugo theme
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # This is required for hugo Lastmod to function properly

      - name: Clone documentation repo
        run: |
          git clone https://github.com/nginx/documentation.git docs

      - name: Setup Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: "1.26.0"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: '0.147.8'
          extended: true

      - name: Build Hugo site
        working-directory: docs
        run: |
          hugo --gc -e production --baseURL="https://frontdoor-test-docs.nginx.com/nginx-hugo-theme/${{github.event.pull_request.number}}"
