name: Build Hugo Docs with PR Theme

on:
  pull_request:
    branches:
      - main

jobs:
  build-docs:
    name: Build Hugo Docs with PR Theme
    runs-on: ubuntu-latest

    steps:
      - name: Checkout hugo theme
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # This is required for hugo Lastmod to function properly

      - name: Clone documentation repo
        run: |
          git clone https://github.com/nginx/documentation.git docs

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.25.4"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: '0.147.8'
          extended: true

      - name: Build Hugo site
        working-directory: docs
        run: |
          hugo --gc -e production --baseURL="https://frontdoor-test-docs.nginx.com/nginx-hugo-theme/${{github.event.pull_request.number}}"
